openapi: 3.1.0
info:
  title: Exactly Protocol Auditor ERC-4626 Market Management API
  description: 'Smart contract interface for the Auditor, the central risk management component of Exactly Protocol. Manages market listings, collateral factors, account liquidity checks, and liquidation eligibility. Provides methods to query all markets, compute account liquidity, calculate seizure amounts, and check liquidation conditions. Deployed on Ethereum, Optimism, and Base.

    '
  version: 1.0.0
  contact:
    name: Exactly Protocol
    url: https://docs.exact.ly
  license:
    name: MIT
    url: https://github.com/exactly/protocol/blob/main/LICENSE-MIT
servers:
- url: https://app.exact.ly
  description: Exactly Protocol App
tags:
- name: Market Management
  description: Write methods for market configuration (admin only)
paths:
  /auditor/enterMarket:
    post:
      summary: Enable a market as collateral
      description: 'Allows a caller to enable a listed market as collateral for their account, making their deposits in that market count toward their borrowing capacity.

        '
      operationId: enterMarket
      tags:
      - Market Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - market
              properties:
                market:
                  type: string
                  description: Address of the Market to enable as collateral
                  pattern: ^0x[a-fA-F0-9]{40}$
      responses:
        '200':
          description: Market entered as collateral successfully
  /auditor/exitMarket:
    post:
      summary: Disable a market as collateral
      description: 'Allows a caller to disable a market as collateral for their account, provided doing so does not leave them undercollateralized.

        '
      operationId: exitMarket
      tags:
      - Market Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - market
              properties:
                market:
                  type: string
                  description: Address of the Market to disable as collateral
                  pattern: ^0x[a-fA-F0-9]{40}$
      responses:
        '200':
          description: Market exited as collateral successfully
externalDocs:
  description: Exactly Protocol Auditor Documentation
  url: https://docs.exact.ly/guides/protocol/auditor.md
