openapi: 3.1.0
info:
  title: Exactly Protocol Auditor ERC-4626 Markets API
  description: 'Smart contract interface for the Auditor, the central risk management component of Exactly Protocol. Manages market listings, collateral factors, account liquidity checks, and liquidation eligibility. Provides methods to query all markets, compute account liquidity, calculate seizure amounts, and check liquidation conditions. Deployed on Ethereum, Optimism, and Base.

    '
  version: 1.0.0
  contact:
    name: Exactly Protocol
    url: https://docs.exact.ly
  license:
    name: MIT
    url: https://github.com/exactly/protocol/blob/main/LICENSE-MIT
servers:
- url: https://app.exact.ly
  description: Exactly Protocol App
tags:
- name: Markets
  description: Market listing and configuration queries
paths:
  /auditor/allMarkets:
    get:
      summary: Get all listed markets
      description: Returns an array of all Market contract addresses listed in the Auditor.
      operationId: allMarkets
      tags:
      - Markets
      responses:
        '200':
          description: Array of listed market addresses
          content:
            application/json:
              schema:
                type: object
                properties:
                  markets:
                    type: array
                    description: Array of Market contract addresses
                    items:
                      type: string
                      pattern: ^0x[a-fA-F0-9]{40}$
  /auditor/markets:
    post:
      summary: Get market configuration
      description: 'Returns the configuration for a specific market including its adjust factor, decimal precision, list index, listing status, and price feed address.

        '
      operationId: markets
      tags:
      - Markets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - market
              properties:
                market:
                  type: string
                  description: Address of the Market contract
                  pattern: ^0x[a-fA-F0-9]{40}$
      responses:
        '200':
          description: Market configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketConfig'
  /auditor/assetPrice:
    post:
      summary: Get asset price from a price feed
      description: Returns the current USD price of an asset from the specified Chainlink price feed.
      operationId: assetPrice
      tags:
      - Markets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - priceFeed
              properties:
                priceFeed:
                  type: string
                  description: Address of the Chainlink-compatible price feed contract
                  pattern: ^0x[a-fA-F0-9]{40}$
      responses:
        '200':
          description: Asset price
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    type: string
                    description: Asset price in base currency units (scaled by priceDecimals)
components:
  schemas:
    MarketConfig:
      type: object
      description: Configuration for a listed market in the Auditor
      properties:
        adjustFactor:
          type: string
          description: Collateral adjust factor scaled by 1e18 (e.g., 0.8e18 = 80% LTV)
        decimals:
          type: integer
          description: Decimal precision of the underlying asset
        index:
          type: integer
          description: Index of this market in the marketList array
        isListed:
          type: boolean
          description: Whether this market is currently listed and active
        priceFeed:
          type: string
          description: Address of the Chainlink-compatible price feed for this market
          pattern: ^0x[a-fA-F0-9]{40}$
externalDocs:
  description: Exactly Protocol Auditor Documentation
  url: https://docs.exact.ly/guides/protocol/auditor.md
