openapi: 3.2.0
info:
  title: Exactly Protocol RewardsController Rewards Claims API
  description: Smart contract interface for querying and claiming EXA and esEXA token rewards distributed to depositors and borrowers on Exactly Protocol. Supports querying claimable rewards, reward configurations, distribution timelines, reward indexes, and claiming rewards across all market operations. Deployed on Ethereum, Optimism, and Base.
  version: 1.0.0
  contact:
    name: Exactly Protocol
    url: https://docs.exact.ly
  license:
    name: MIT
    url: https://github.com/exactly/protocol/blob/main/LICENSE-MIT
servers:
- url: https://app.exact.ly
  description: Exactly Protocol App
tags:
- name: Rewards Claims
  description: Write methods for claiming earned rewards
paths:
  /rewards/claim:
    post:
      summary: Claim rewards for specific market operations
      description: Claims earned rewards for a list of market-operation pairs and sends the specified reward tokens to the designated address.
      operationId: claim
      tags:
      - Rewards Claims
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - marketOps
              - to
              - rewardsList
              properties:
                marketOps:
                  type: array
                  description: Market-operation pairs to claim rewards for
                  items:
                    $ref: '#/components/schemas/MarketOperation'
                to:
                  type: string
                  description: Address to send claimed rewards to
                  pattern: ^0x[a-fA-F0-9]{40}$
                rewardsList:
                  type: array
                  description: List of reward token addresses to claim
                  items:
                    type: string
                    pattern: ^0x[a-fA-F0-9]{40}$
      responses:
        '200':
          description: Claimed rewards summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResult'
  /rewards/claimAll:
    post:
      summary: Claim all rewards for the caller
      description: Claims all earned rewards across all markets and all reward tokens, sending them to the specified address.
      operationId: claimAll
      tags:
      - Rewards Claims
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - to
              properties:
                to:
                  type: string
                  description: Address to send all claimed rewards to
                  pattern: ^0x[a-fA-F0-9]{40}$
      responses:
        '200':
          description: All claimed rewards summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResult'
components:
  schemas:
    MarketOperation:
      type: object
      description: A market and operation type pair for reward queries/claims
      required:
      - market
      - operations
      properties:
        market:
          type: string
          description: Address of the Market contract
          pattern: ^0x[a-fA-F0-9]{40}$
        operations:
          type: array
          description: Operation types (true = borrow, false = deposit)
          items:
            type: boolean
    ClaimResult:
      type: object
      description: Result of a reward claim operation
      properties:
        rewardsList:
          type: array
          description: List of reward token addresses that were claimed
          items:
            type: string
            pattern: ^0x[a-fA-F0-9]{40}$
        claimedAmounts:
          type: array
          description: Amounts of each reward token claimed (in wei, parallel array to rewardsList)
          items:
            type: string
externalDocs:
  description: Exactly Protocol RewardsController Documentation
  url: https://docs.exact.ly/guides/protocol/rewardscontroller.md
